.inputtext{
    height: 100%;
    width: 50%;
    display: flex;
    /* border: 2px solid green; */
    flex-direction: column;

}
.inputtext h3{
    /* border: 2px solid red; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputtext .inputdiv{
    
    /* border: 2px solid red; */
    height: 90%;
    width: 100%;
}
.inputtext .inputdiv textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    background-color: antiquewhite;

}